<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% if page.url == '/index.html' %}
    {% assign site_section = 'Miscellaneous' %}
{% else %}
    {% capture site_section %}
        {{ page.url | remove_first:'/' | split:'/' | first | capitalize}}
    {% endcapture %}
{% endif %}
<html lang="en">
<head>
	<title>Cayenne's {{ site_section }}</title>
	<link rel="stylesheet"
          type="text/css"
          href="/cayennes.css"
          title="cayennes"/>
</head>
<body>
<div class="logobar"><img
src="/yp.jpg" alt="[picture of crocheted yellow pig" />Cayenne's {{ site_section }}</div>
{{ page.linkbar }}

<div class="content">

<h1>{{ page.title | capitalize}}</h1>

{{ content }}

</div>

<div class="rightbar">
	I can be reached via email at <a 
href="mailto:{{ site.contact_email }}">{{ site.contact_email }}</a>.
</div>

</body>
</html>
